<!-- core/templates/home.html -->
{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1>Welcome to the Home Page
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga obcaecati accusamus perferendis quia similique? Officia vel rem et aut dicta placeat nostrum cumque recusandae sint, soluta vero quam, voluptatum, sed optio distinctio reiciendis adipisci cupiditate sapiente. Iusto blanditiis corrupti minus accusamus autem vitae! Ipsum laborum placeat consectetur maxime aliquid repellat.
    </h1>
{% endblock %}
