{% extends "base.html" %}
{% load static %}

{% block title %}Welcome | {{ block.super }}{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <link href="{% static 'css/style_index.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600&display=swap">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css">
    <script src="https://cdn.jsdelivr.net/npm/@srexi/purecounterjs@1.1.4/dist/purecounter_vanilla.js"></script>

    <script src="{% static 'index.js' %}"></script>
    <script src="https://kit.fontawesome.com/cd4eb40196.js" crossorigin="anonymous"></script>
</head>



<body>

    <!---------------------------------------------------NAVIGATION BAR-------------------------------------------------->
    <nav class="navbar navbar-expand-lg navbar-custom">
        <div class="container-fluid">
            <div id="logo">TRADE SOCIAL.</div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0" id="navbar1">
                    <li class="nav-item">
                        <a class="nav-link" href="#Home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#About">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#Services">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#Contact">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home'%}">Browse</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login'%}">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!----------------------------------------------WELCOME SECTION----------------------------------------------------->

    <div class="container position-relative" id="Home">
        <div class="row gy-5 aos-init aos-animate" data-aos="fade-in" id="outer-header">
            <div id="header"
                class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start">
                <h2>Welcome to <span>Trade Social</span></h2>
                <p>Where Selling Meets Social - Post, Promote, Negotiate, and Sell !</p>

            </div>
            <div class="col-lg-6 order-1 order-lg-2">
                <img src="{% static 'images/welcome.jpg' %}" class="img-fluid aos-init aos-animate" alt="" data-aos="zoom-out"
                    data-aos-delay="100">
            </div>
        </div>
    </div>

    <!-------------------------------------------------FEATURE CARDS---------------------------------------------------->

    <div class="container text-center d-flex justify-content-center">
        <div class="cards">
            <div class="card1">
                <div class="card-icon"><i class="fas fa-tv"></i></div>
                <div class="card-content">Your products</div>
            </div>
            <div class="card2">
                <div class="card-icon"><i class="fas fa-gem"></i></div>
                <div class="card-content">Promote your sales</div>
            </div>
            <div class="card3">
                <div class="card-icon"><i class="fas fa-map-marker-alt"></i></div>
                <div class="card-content">Connect with customers</div>
            </div>
            <div class="card4">
                <div class="card-icon"><i class="fas fa-keyboard"></i></div>
                <div class="card-content">Boost your sales</div>
            </div>
        </div>
    </div>

    <br>
    <br>

    <!------------------------------------------------------ABOUT US----------------------------------------------------->

    <div id="About">
        <div class="section-header">
            <h1>About Us</h1>
        </div>
    
        <div id="abt-sec">
            <h3>Trade Social: Empowering Local Businesses in Aurangabad, Bihar</h3>
            <br>
            <div class="image-wrapper">
                <img src="{% static 'images/about_network.png' %}" class="img-fluid rounded-4" alt="">
            </div>
            <p id="p2">Trade Social was born out of a heartfelt desire to uplift the local business community in
                Aurangabad,
                Bihar. The story begins with Mr. Agrawal, a native of Aurangabad, who grew up witnessing the
                vibrant
                but often unadvertised local businesses in his hometown. After spending several years in the US,
                where he gained invaluable experience and insights in the world of business and technology, Mr.
                Agrawal decided it was time to give back to his roots. Upon his return to Aurangabad, Mr.
                Agrawal
                noticed a significant gap in the local market: a lack of effective advertising platforms for
                small
                businesses and services. He understood that these businesses, though rich in potential, were
                struggling to reach a wider audience and compete with larger entities. This realization sparked
                the
                inception of Trade Social.Trade Social was created with a simple yet powerful vision: to provide a dedicated
                platform where
                local residents could easily post sales, promote their goods, and connect with potential
                customers.
                It aims to democratize advertising, making it accessible and affordable for everyone in the
                community. Through Trade Social, local businesses in Aurangabad can now showcase their products,
                share special offers, and attract more customers than ever before. When its launched, Trade Social is aim to become a cornerstone for the local economy,
                fostering
                growth and enabling small businesses to thrive. By bridging the gap between sellers and
                buyers,
                the platform not only boosts the visibility of local enterprises but also strengthens the
                sense
                of community in Aurangabad. Mr. Agrawal's vision for Trade Social is rooted in his deep love for his hometown and his
                commitment to its prosperity. With Trade Social, he hopes to create a sustainable ecosystem
                where
                local businesses can flourish, contributing to the overall economic and social development of
                Aurangabad, Bihar. </p>
        </div>
    </div>
    
    <br>
    <br>
    
    <!-----------------------------------------------BUSINESS LOGO SLIDER----------------------------------------------->
    
    <div class="brand-carousel section-padding owl-carousel">
        <div class="single-logo"><img class="carousel-logo" alt="" src="{% static 'images/logo3.png' %}"></div>
        <div class="single-logo"><img class="carousel-logo" alt="" src="{% static 'images/logo4.png' %}"></div>
        <div class="single-logo"><img class="carousel-logo" alt="" src="{% static 'images/logo5.png' %}"></div>
        <div class="single-logo"><img class="carousel-logo" alt="" src="{% static 'images/logo6.png' %}"></div>
        <div class="single-logo"><img class="carousel-logo" alt="" src="{% static 'images/logo7.png' %}"></div>
        <div class="single-logo"><img class="carousel-logo" alt="" src="{% static 'images/logo1.jpg' %}"></div>
        <div class="single-logo"><img class="carousel-logo" alt="" src="{% static 'images/logo2.png' %}"></div>
        
    </div>
    <br>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script>
        $('.brand-carousel').owlCarousel({
            loop: true,
            margin: 10,
            autoplay: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 3
                },
                1000: {
                    items: 5
                }
            }
        });
    </script>
    

    <!--------------------------------------------------STATISTICS COUNTER---------------------------------------------->

    <section id="stats-counter" class="stats-counter">
        <div class="container aos-init aos-animate" data-aos="fade-up">
            <div class="row gy-4 align-items-center" id="img-outer">
                <div class="col-lg-6">
                    <img src="{% static 'images/statistics.jpg' %}" alt="" class="img-fluid2">
                </div>
                <div class="col-lg-6" id="stats">
                    <div class="stats-item d-flex align-items-start">
                        <div class="stat-number">
                            <span>232</span>
                        </div>
                        <div class="stat-text">
                            <p><strong>Empowering Local Business</strong></p>
                            <p>provides an accessible platform for local businesses</p>
                        </div>
                    </div><!-- End Stats Item -->
                    <hr>
                    <div class="stats-item d-flex align-items-start">
                        <div class="stat-number">
                            <span>521</span>
                        </div>
                        <div class="stat-text">
                            <p><strong>Community Focused</strong></p>
                            <p>fosters connections between local sellers and buyers</p>
                        </div>
                    </div><!-- End Stats Item -->
                    <hr>
                    <div class="stats-item d-flex align-items-start">
                        <div class="stat-number">
                            <span>453</span>
                        </div>
                        <div class="stat-text">
                            <p><strong>User-Friendly and Affordable</strong></p>
                            <p>be benefited from effective advertising and increased visibility</p>
                        </div>
                    </div><!-- End Stats Item -->
                    <hr>
                </div>
            </div>
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/@srexi/purecounterjs@1.1.4/dist/purecounter_vanilla.js"></script>


    <script>
        document.addEventListener('DOMContentLoaded', function () {
            new PureCounter();
        });
    </script>

    <!------------------------------------------------------------ SERVICES -------------------------------------------------------->
    
    <div id="Services" class="container">
        <div class="section-header">
            <h1>Services</h1>
        </div>
        <p>Trade Social provides a platform for merchants to post their products and promote their sales with customer
            interaction options.</p>

        <br>

        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card text-bg-light mb-3" style="max-width: 18rem;">
                                <div class="card-header text-center black">
                                    <i class="fa-solid fa-person" id="icon1"></i>
                                    <h3>Product Listing</h3>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">Allow merchants to create detailed listings for their products,
                                        including descriptions, prices, and high-quality images.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card text-bg-light mb-3" style="max-width: 18rem;">
                                <div class="card-header text-center black">
                                    <i class="fa-solid fa-star" id="icon2"></i>
                                    <h3>Customer Reviews and Ratings</h3>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">Enable customers to leave reviews and ratings on products to
                                        build trust and provide feedback to merchants.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card text-bg-light mb-3" style="max-width: 18rem;">
                                <div class="card-header text-center black">
                                    <i class="fa-solid fa-handshake" id="icon3"></i>
                                    <h3>Bargaining and Negotiation Tools</h3>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">Provide features for customers to make offers and negotiate
                                        prices directly with merchants.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card text-bg-light mb-3" style="max-width: 18rem;">
                                <div class="card-header text-center black">
                                    <i class="fa-solid fa-user-check" id="icon4"></i>
                                    <h3>Verified Merchant Accounts</h3>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">Offer verification services for merchants to build credibility
                                        and trust with customers.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card text-bg-light mb-3" style="max-width: 18rem;">
                                <div class="card-header text-center black">
                                    <i class="fa-solid fa-info-circle" id="icon5"></i>
                                    <h3>Advertising Services</h3>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">Allow merchants to purchase advertising space on the platform
                                        to promote their products.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card text-bg-light mb-3" style="max-width: 18rem;">
                                <div class="card-header text-center black">
                                    <i class="fa-solid fa-info-circle" id="icon6"></i>
                                    <h3>Community Features</h3>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">Develop community-building features such as forums, groups, and
                                        events to encourage interaction and engagement.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
            <div class="carousel-indicators custom-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
        </div>
    </div>
    <br>
    <br>

    <!--------------------------------------------------------- CONTACT US ----------------------------------------------------------->
    <div id="Contact">
        <div class="container">
            <div class="section-header">
                <h1>Contact Us</h1>
            </div>
            <div class="contact-wrapper">
                <div class="contact-left">
                    <div class="contact-info">
                        <p><i class="fa-sharp fa-solid fa-paper-plane"></i>tradesocialservice@gmail.com</p>
                    </div>
                    <div class="contact-info">
                        <p><i class="fa-sharp fa-solid fa-phone-square-alt"></i>+91 12345 12345</p>
                    </div>
                    <div class="contact-info">
                        <p><i class="fas fa-map-marker-alt"></i>Aurangabad, Bihar</p>
                    </div>
                    <div class="contact-info">
                        <p><i class="fa-solid fa-clock"></i>Mon-Sat: 11AM - 23PM</p>
                    </div>
                </div>
                <div class="contact-right">
                    <form>
                        <input type="text" name="Name" placeholder="Your name" id="contactUs-ip" required>
                        <input type="email" name="Email" placeholder="Your Email" id="contactUs-ip" required>
                        <textarea name="Subject" rows="1" placeholder="Subject" id="contactUs-ip"></textarea>
                        <textarea name="Message" rows="4" placeholder="Your Message" id="contactUs-ip"></textarea>
                        <button type="submit" class="btn btn3">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    

    <!---------------------------------------------------------FOOTER---------------------------------------------------------->
    
    <footer id="footer" class="footer">

        <div class="container">
            <div class="row gy-4">
                <div class="col-lg-5 col-md-12 footer-info">
                    <a href="{% url 'index' %}" class="logo d-flex align-items-center">
                        <span>Trade Social</span>
                    </a>
                    <p>Your community platform for residents in Aurangabad, Bihar</p>
                </div>

                <div class="col-lg-2 col-6 footer-links">
                    <h4><b>Useful Links</b></h4>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#Services">Services</a></li>
                        <li><a href="#">Terms of service</a></li>
                        <li><a href="#">Privacy policy</a></li>
                    </ul>
                </div>

                <div class="col-lg-2 col-6 footer-links">
                    <h4><b>Our Services</b></h4>
                    <ul>
                        <li><a href="#Services">Product Listing</a></li>
                        <li><a href="#Services">Verify Merchant Accounts</a></li>
                        <li><a href="#Services">Advertising Services</a></li>
                        <li><a href="#Services">Marketing</a></li>
                        <li><a href="#Services">Community Tools</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
                    <h4><b>Contact Us</b></h4>
                    <p>
                        <h6><b>Aurangabad</b></h6>
                        <h6><b>Bihar</b></h6><br><br>
                        <b>Phone:</b> +91 12345 12345 <br>
                        <b>Email:</b> <a href="#" class="email">tradesocialservice@gmail.com</a><br>
                    </p>
                </div>

            </div>
        </div>

        <div class="container mt-4">
            <div class="copyright">
                &copy; Copyright <strong><span>Trade Social</span></strong>. All Rights Reserved
            </div>
        </div>

    </footer>
        
</body>

</html>
{% endblock %}
